.directory {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .directory-title {
    text-align: center;
    color: #333;
  }
  
  .directory-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
  }
  
  .directory-card details {
    cursor: pointer;
  }
  
  .directory-card summary {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .directory-contact-card {
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  
  .directory-contact-card:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  
  .directory-contact-card h3 {
    margin: 0 0 10px;
    font-size: 1.1em;
    color: #007BFF;
  }
  
  .directory-contact-card p {
    margin: 5px 0;
    color: #555;
  }
  
  .directory-contact-card p strong {
    color: #333;
  }
  
  /* Banner CSS */
.banner-container {
  text-align: center;
  margin: 10px 0;
}

.banner {
  width: 100%;
  max-width: 350px; /* Hacemos el banner más pequeño */
  animation: blink 3s steps(1) infinite; /* Más rápido y con un efecto de titilar más notable */
}

/* Animación de titilar */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
